<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>product</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.shop.infrastructure.LoginFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/auth/profile/*</url-pattern>
</filter-mapping>

<filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.shop.infrastructure.AdminFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/auth/profile/admin/*</url-pattern>
</filter-mapping>

  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mysql://localhost/new_shop_db</param-value>
  </context-param>
  
  <context-param>
    <param-name>jdbcUser</param-name>
    <param-value>root</param-value>
  </context-param>
  
  <context-param>
    <param-name>jdbcPass</param-name>
    <param-value>root</param-value>
  </context-param>
  
 
  
</web-app>